<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$title</title>
    <script type="text/javascript" src="{{ STATIC_URL }}quintus.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}quintus_2d.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}quintus_anim.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}quintus_audio.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}quintus_input.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}quintus_scenes.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}quintus_sprites.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}quintus_touch.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}quintus_ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}enemies.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}neutral.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}items.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}popups.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}custom_ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}platformer.js"></script>
</head>
<body class="index">

</body>
</html>